@using PagedList.Mvc
@model KLTN_E.ViewModels.DatLaiMatKhauVM

@{
    ViewData["Title"] = "Profile";
}

@* <div class="container">
    <h2>Welcome @Context.User.Identity.Name</h2>
    <a asp-action="DangXuat" asp-controller="KhachHang">Logout</a>
</div> *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodingDung | Profile Template</title>
    <link rel="stylesheet" href="~/css/profile.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          rel="stylesheet" />
</head>

<body>
    <div class="container light-style flex-grow-1 container-p-y">
        <div class="card overflow-hidden p-5" style="margin: 20px 0px">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">


                        <ul class="nav nav-tabs " style="border:none" id="myTab" role="tablist">
                            <li class="nav-item mb-3" style="width:80%;">
                                <a class="nav-link active" style="display:block!important" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
                            </li>
                            <li class="nav-item mb-3" style="width:80%;">
                                <a class="nav-link" style="display:block!important;z-index:10" id="change-password-tab" data-toggle="tab" href="#change-password" role="tab" aria-controls="change-password" aria-selected="false">Change Password</a>
                            </li>
                            <li class="nav-item mb-3" style="width:80%;">
                                <a class="nav-link" style="display:block!important;z-index:10" id="purchase-histories-tab" data-toggle="tab" href="#purchase-histories" role="tab" aria-controls="purchase-histories" aria-selected="false">Purchase Histories</a>
                            </li>
                            <!-- Add more tabs as needed -->
                        </ul>


                    </div>
                </div>
                <div class="col-md-9">
                    @*  <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general"> *@
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                            <form method="post" asp-action="UpdateProfile" asp-controller="KhachHang" enctype="multipart/form-data">
                                <div class="card-body media align-items-center" style="padding:0px !important">
                                    <img src="/Hinh/KhachHang/@Model.ProfileImage" alt="User Image
                                    @*  <img src="https://localhost:7121/Hinh/KhachHang/@Model.ProfileImage" alt="User Image"  *@
                                         class="d-block rounded-circle" style="width:100px; height:100px; object-fit:cover" />
                                    <div class=" ml-4">
                                        <label class=" site-btn">
                                            Upload new photo
                                            <input type="file" name="newImage" class="account-settings-fileinput" accept="image/*" />
                                        </label>
                                        &nbsp;


                                    </div>
                                </div>
                                <hr class="border-light m-0" />
                                <div class="card-body">
                                    @* <form method="post" asp-action="UpdateProfile" asp-controller="KhachHang" enctype="multipart/form-data"> *@
                                    <div class="checkout__input">
                                        <label class="form-label">Username</label>
                                        <input type="text"
                                               class="mb-1"
                                               value="@Model.UserName" readonly />
                                    </div>
                                    <div class="checkout__input">
                                        <label class="form-label">Name</label>
                                        <input type="text"
                                               class="mb-1"
                                               value="@Model.FullName" name="FullName" />
                                    </div>
                                    <div class="checkout__input">
                                        <label class="form-label">E-mail</label>
                                        <input type="text"
                                               class=" mb-1"
                                               value="@Model.Email" name="Email" />
                                    </div>
                                    <div class="checkout__input">
                                        <label class="form-label">Address</label>
                                        <input type="text"
                                               class="mb-1"
                                               value="@Model.Address" name="Address" />
                                    </div>
                                    <div class="checkout__input">
                                        <label class="form-label">Phone number</label>
                                        <input type="text"
                                               class="mb-1"
                                               value="@Model.PhoneNumber" name="PhoneNumber" />
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <button type="submit" class="site-btn">Save changes</button>
                                    </div>
                                    @* </form> *@
                                </div>
                            </form>
                        </div>

                        @*  @await Html.PartialAsync("_ResetPassword", new KLTN_E.ViewModels.DatLaiMatKhauVM()) *@
                        <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
                            <form asp-action="ChangePassword" asp-controller="KhachHang">
                                @* <div class="tab-pane fade" id="account-change-password"> *@
                                <div class="">
                                    <div class="checkout__input">
                                        <label class="form-label">Current password</label>
                                        <input asp-for="@Model.OldPassword" type="password" />
                                    </div>
                                    <div class="checkout__input">
                                        <label class="form-label">New password</label>
                                        <input asp-for="@Model.NewPassword" type="password" />
                                    </div>
                                    <div class="checkout__input">
                                        <label class="form-label">Confirm new password</label>
                                        <input asp-for="@Model.ConfirmPassword" type="password" />
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <button type="submit" class="site-btn">Reset Password</button>
                                    </div>
                                </div>
                                @* </div> *@
                            </form>
                        </div>

                        <div class="tab-pane fade" id="purchase-histories" role="tabpanel" aria-labelledby="purchase-histories-tab">
                            @if (Model.PurchaseHistory != null && Model.PurchaseHistory.Count > 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Produce Name</th>
                                            <th>OrderDate</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var purchaseHistoryItem in Model.PurchaseHistory)
                                        {
                                            @if (purchaseHistoryItem.SanPhams.Any())
                                            {
                                                <tr>
                                                    <td colspan="3">
                                                        Status: @purchaseHistoryItem.TenTrangThai
                                                    </td>
                                                    <td></td>
                                                </tr>
                                                var isFirstProduct = true;
                                                foreach (var product in purchaseHistoryItem.SanPhams)
                                                {
                                                    <tr>
                                                        <td><img src="https://localhost:7121/Hinh/HangHoa/@product.Hinh" alt="Image" width="50"></td>
                                                        <td>@product.TenHangHoa</td>
                                                        <td>@purchaseHistoryItem.NgayDat.ToShortDateString()</td>
                                                        <td>@product.SoLuong</td>
                                                        <td>@product.DonGia</td>
                                                        <td>
                                                            @if (isFirstProduct && purchaseHistoryItem.TenTrangThai == "Pending approval")
                                                            {
                                                                <form asp-action="CancelOrder" asp-controller="Cart" method="post">
                                                                    <input type="hidden" name="maHd" value="@purchaseHistoryItem.MaHd" />
                                                                    <button type="submit" class="site-btn">Cancel order</button>
                                                                </form>
                                                                isFirstProduct = false;
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>

                                <div class="product__pagination">
                                    @if (Model.PurchaseHistory != null && Model.PurchaseHistory.Count > 0)
                                    {
                                        for (int i = 1; i <= Model.PurchaseHistory.PageCount; i++)
                                        {
                                            <a href="@Url.Action("Profile", new { page = i, pageSize = Model.PurchaseHistory.PageSize, previousPage = Model.PurchaseHistory.PageNumber })" class="@(i == Model.PurchaseHistory.PageNumber ? "active" : "")">
                                                @i
                                            </a>
                                        }
                                    }
                                </div>

                            }
                            else
                            {
                                <p>There are no orders.</p>
                            }
                        </div>


                        <div class="tab-pane fade" id="account-info">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Bio</label>
                                    <textarea class="form-control" rows="5">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Birthday</label>
                                    <input type="text"
                                           class="form-control"
                                           value="May 3, 1995" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Country</label>
                                    <select class="custom-select">
                                        <option>USA</option>
                                        <option selected>Canada</option>
                                        <option>UK</option>
                                        <option>Germany</option>
                                        <option>France</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="border-light m-0" />
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Contacts</h6>
                                <div class="form-group">
                                    <label class="form-label">Phone</label>
                                    <input type="text"
                                           class="form-control"
                                           value="+0 (123) 456 7891" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Website</label>
                                    <input type="text" class="form-control" value />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-social-links">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Twitter</label>
                                    <input type="text"
                                           class="form-control"
                                           value="https://twitter.com/user" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Facebook</label>
                                    <input type="text"
                                           class="form-control"
                                           value="https://www.facebook.com/user" />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Google+</label>
                                    <input type="text" class="form-control" value />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">LinkedIn</label>
                                    <input type="text" class="form-control" value />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Instagram</label>
                                    <input type="text"
                                           class="form-control"
                                           value="https://www.instagram.com/user" />
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-connections">
                            <div class="card-body">
                                <button type="button" class="btn btn-twitter">
                                    Connect to <strong>Twitter</strong>
                                </button>
                            </div>
                            <hr class="border-light m-0" />
                            <div class="card-body">
                                <h5 class="mb-2">
                                    <a href="javascript:void(0)"
                                       class="float-right text-muted text-tiny"><i class="ion ion-md-close"></i> Remove</a>
                                    <i class="ion ion-logo-google text-google"></i>
                                    You are connected to Google:
                                </h5>
                                <a href="/cdn-cgi/l/email-protection"
                                   class="__cf_email__"
                                   data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>
                            </div>
                            <hr class="border-light m-0" />
                            <div class="card-body">
                                <button type="button" class="btn btn-facebook">
                                    Connect to <strong>Facebook</strong>
                                </button>
                            </div>
                            <hr class="border-light m-0" />
                            <div class="card-body">
                                <button type="button" class="btn btn-instagram">
                                    Connect to <strong>Instagram</strong>
                                </button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-notifications">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Activity</h6>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked />
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone comments on my article</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked />
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone answers on my forum thread</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" />
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone follows me</span>
                                    </label>
                                </div>
                            </div>
                            <hr class="border-light m-0" />
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Application</h6>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked />
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">News and announcements</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" />
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Weekly product updates</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked />
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Weekly blog digest</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script data-cfasync="false"
            src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>
</html>


@* <script>
    // JavaScript to control tab switching
    $('#myTab a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script> *@

<script>
    // JavaScript to control tab switching
    $(document).ready(function () {
        // Lưu trạng thái của tab hiện tại vào sessionStorage khi tab được chuyển
        $('#myTab a').on('click', function (e) {
            e.preventDefault();
            var tabId = $(this).attr('id');
            sessionStorage.setItem('activeTab', tabId);
            $(this).tab('show');
        });

        // Khôi phục tab hiện tại từ sessionStorage khi trang được tải
        var activeTab = sessionStorage.getItem('activeTab');
        if (activeTab) {
            $('#' + activeTab).tab('show');
        }
    });
</script>
