@model KLTN_E.Data.NhaCungCap

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid dashboard-content">

    <div class="row">

        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="MaNcc" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a class="btn btn-dark" asp-action="Index">Back to List</a>
                    </form>

                </h5>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.TenCongTy)
                                </th>
                                <td>@Html.DisplayFor(model => model.TenCongTy)</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Logo)

                                </th>
                                <td>
                                    <img src="~/Hinh/NhaCC/@Model.Logo" alt="img" width="100" height="100" style="border-radius:50%">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.NguoiLienLac)

                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.NguoiLienLac)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Email)

                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Email)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.DiaChi)

                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.DiaChi)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.DienThoai)

                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.DienThoai)
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.Email)

                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Email)
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    @Html.DisplayNameFor(model => model.MoTa)

                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.MoTa)
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
